p {
  font-size: 25px;
}
.description {
  text-transform: capitalize;
}

.farenheit {
  font-size: 18px;
  position: relative;
  bottom: 15px;
}

.border {
  max-width: 700px;
}

.currentDate {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
}
.todayWeather {
  position: relative;
  bottom: 12px;
}

.currentWeatherText {
  color: grey;
  font-size: 12px;
}

.currentCity {
  font-size: 18px;
  font-weight: bold;
}

.citySearch {
  font-size: 10px;
  color: grey;
}

.mainWeatherIcon {
  font-size: 70px;
  position: relative;
  left: 20px;
}

.weatherDetails {
  color: grey;
  font-size: 14px;
  position: relative;
  right: 50px;
  top: 20px;
}

.weather-forecast {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.weatherIconFuture {
  max-width: 50px;
}

.mainTempHigh {
  font-weight: bold;
  font-size: 40px;
  margin-right: -4px;
  display: inline-block;
}
.mainTempLow {
  font-weight: normal;
  font-size: 40px;
}

.currentTempHigh {
  font-weight: bold;
  font-size: 10px;
}
.currentTempLow {
  font-weight: normal;
  font-size: 10px;
}

.footnote {
  color: grey;
  font-size: 10px;
  position: relative;
  left: 50px;
}

.mainWeatherIcon {
  display: block;
  left: 0px;
}
